{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html class="no-js" dir="ltr" lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/icon.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('theme://css/foundation.min.css', 98) %}
        {% do assets.addCss('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', 99) %}
        {% do assets.addCss('theme://css/custom.css', 20) %}
    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
        {% do assets.addJs('theme://js/vendor/jquery.js', {'priority':150, 'pipeline':false, 'loading':'async', 'group':'bottom'}) %}
        {% do assets.addJs('theme://js/vendor/what-input.js', {'priority':140, 'pipeline':false, 'loading':'async', 'group':'bottom'}) %}
        {% do assets.addJs('theme://js/vendor/foundation.min.js', {'priority':130, 'pipeline':false, 'loading':'async', 'group':'bottom'}) %}
        {% do assets.addJs('theme://js/app.js', {'priority':120, 'pipeline':false, 'loading':'async', 'group':'bottom'}) %}
    {% endblock %}
    {{ assets.js() }}

{% endblock head%}
</head>
<body id="top" class="{{ page.header.body_classes }}">
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=1444084742557195";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
{% block header %}
    <div class="title-bar mobile-nav show-for-small-only" data-responsive-toggle="dsa-menu" data-hide-for="medium">
		<div class="top-bar-left title-bar-title">
		  <img src="{{ url('theme://images/dsa-rose-mark.svg') }}" class="logo-mark" />
		  {{ config.site.title }}
		</div>
        <button class="dsa-menu-icon top-bar-right" type="button" data-toggle="dsa-menu"><i class="fa fa-bars" aria-hidden="true"></i></button>
	</div>
	<div class="header top-bar" id="dsa-menu">
        <div class="padding">
            <div class="top-bar-left show-for-medium">
            	<a class="logo top-bar-left" href="{{ base_url == '' ? '/' : base_url }}">
                	<img src="{{ url('theme://images/dsa-rose-mark.svg') }}" class="logo-mark" />
                	<span class="site-name">{{ config.site.title }}</span>
            	</a>
           		{% block header_navigation %}
            </div>
            
            <nav class="main-nav top-bar-right">
                {% include 'partials/navigation.html.twig' %}
            </nav>
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block body %}
    <section id="body" class="body padding-top padding-bottom">
        <div class="row padding">
            <div class="small-12 columns">
                {% block content %}{% endblock %}
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
    <div class="footer text-center padding-top">
        <div class="row padding-bottom">
            <div class="large-4 medium-4 small-6 columns"><h2>Footer Column 1</h2></div>
            <div class="large-4 medium-4 small-6 columns">
                <h2>Connect with us</h2>
                {% if config.themes.dsa_grav.DSAsocial.facebook != '' %}
                    <a href="{{config.themes.dsa_grav.DSAsocial.facebook }}"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
                {% endif %}
                {% if config.themes.dsa_grav.DSAsocial.twitter != '' %}
                    <a href="{{config.themes.dsa_grav.DSAsocial.twitter }}"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
                {% endif %}
                {% if config.themes.dsa_grav.DSAsocial.youtube != '' %}
                    <a href="{{config.themes.dsa_grav.DSAsocial.youtube }}"><i class="fa fa-youtube fa-2x" aria-hidden="true"></i></a>
                {% endif %}
                {% if config.themes.dsa_grav.DSAsocial.soundcloud != '' %}
                    <a href="{{config.themes.dsa_grav.DSAsocial.soundcloud }}"><i class="fa fa-soundcloud fa-2x" aria-hidden="true"></i></a>
                {% endif %}
            </div>
            <div class="large-4 medium-4 small-6 columns"><h2>Footer Column 3</h2></div>
        </div>
        <div class="row">
            <p><a href="https://github.com/SeattleDSA/grav-theme-dsa">grav-theme-dsa</a> was <i class="fa fa-code"></i> with <i class="fa fa-heart"></i> by <a href="https://seattledsa.org/">Seattle DSA</a>.</p>
        </div>
    </div>
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}

</body>
</html>
