<div class="list-item h-entry">

    {% set header_image = page.header.header_image|defined(true) %}
    {% set header_image_width  = page.header.header_image_width|defined(900) %}
    {% set header_image_height = page.header.header_image_height|defined(300) %}
    {% set header_image_file = page.header.header_image_file %}
    {% set header_image_caption = page.header.header_image_caption %}

    <div class="list-blog-header row">
    	<div class="large-8 medium-8 blog-header-primary blog-padding columns">
    		<hr />
	        <span class="list-blog-author">
		        {% if page.header.attribution.author is empty %}
					{{ config.site.title }}
				{% else %}
					{{ page.header.attribution.author }}
				{% endif %}
	        </span>

	        {% if page.header.link %}
	            <h1 class="p-name">
	                {% if page.header.continue_link is not sameas(false) %}
	                <a href="{{ page.url }}"><i class="fa fa-angle-double-right u-url"></i></a>
	                {% endif %}
	                <a href="{{ page.header.link }}" class="u-url">{{ page.title }}</a>
	            </h1>
	        {% else %}
	            <h1 class="p-name"><a href="{{ page.url }}" class="u-url">{{ page.title }}</a></h1>
	        {% endif %}
	        {% if header_image %}
	            {% set header_image_media = page.media.images|first %}
	            {{ header_image_media.cropZoom(header_image_width, header_image_height).html }}
	        {% endif %}
	    </div>
	    <div class="large-4 medium-4 blog-header-secondary blog-padding columns">
	        <hr class="hide-for-small-only" />
	        <span class="list-blog-date">
	            <time class="dt-published" datetime="{{ page.date|date("c") }}">
	                <span>{{ page.date|date("d") }}</span> <em>{{ page.date|date("M") }}</em>, <em>{{ page.date|date("Y") }}</em>
	            </time>
	        </span>
	        <br />
			{% if page.taxonomy.tag %}
		        <h4>Tags:</h4>
		        <span class="tags">
		            {% for tag in page.taxonomy.tag %}
		            <a href="{{ blog.url|rtrim('/') }}/tag{{ config.system.param_sep }}{{ tag }}" class="p-category button hollow">{{ tag }}</a>
		            {% endfor %}
		        </span>
	        {% endif %}
	        <br />
	        <h4>Share This:</h4>
	        <span class="list-blog-share">
	            <a href="http://www.facebook.com/sharer.php?u={{ page.permalink }}&amp;t={{ page.title }}" title="Share" class="button button-circle"><i class="fa fa-facebook" aria-hidden="true"></i></a>
	            <a href="http://twitter.com/home/?status={{ page.title }} - {{ page.permalink }}" title="Tweet" class="button button-circle"><i class="fa fa-twitter" aria-hidden="true"></i></a>
	            <a href="mailto:?body={{ page.permalink }}&subject={{ page.title }}" title="Email" class="button button-circle"><i class="fa fa-envelope" aria-hidden="true"></i></a>
	        </span>
	    </div>
    </div>

    <div class="list-blog-padding row">

	    {% if page.header.continue_link is sameas(false) %}
	        <div class="e-content  blog-padding large-8 medium-8 columns">        
	            {{ page.content }}
	        </div>
	        {% if not truncate %}
	        {% set show_prev_next = true %}
	        {% endif %}
	    {% elseif truncate and page.summary != page.content %}
	        <div class="p-summary e-content blog-padding large-8 medium-8 columns">
	            {{ page.summary }}
	            <p><a href="{{ page.url }}" class="button">{{ 'Continue...'|t }}</a></p>
	        </div>
	    {% elseif truncate %}
	        <div class="p-summary e-content blog-padding large-8 medium-8 columns">
	            {{ page.content }}
	            <p><a href="{{ page.url }}" class="button">{{ 'Continue...'|t }}</a></p>
	        </div>
	    {% else %}
	        <div class="e-content large-8 medium-8 columns blog-padding">
	            {{ page.content }}
	        </div>

	        {% if config.plugins.comments.enabled %}
	            {% include 'partials/comments.html.twig' %}
	        {% endif %}

	        {% set show_prev_next = true %}
	    {% endif %}

	    {% if show_prev_next %}
	        <div class="large-4 medium-4 columns">
		        <p class="prev-next">
		            {% if not page.isFirst %}
		                <a class="button" href="{{ page.nextSibling.url }}"><i class="fa fa-chevron-left"></i> {{ 'BLOG.ITEM.NEXT_POST'|t }}</a>
		            {% endif %}

		            {% if not page.isLast %}
		                <a class="button" href="{{ page.prevSibling.url }}">{{ 'BLOG.ITEM.PREV_POST'|t }} <i class="fa fa-chevron-right"></i></a>
		            {% endif %}
		        </p>
	        </div>
	    {% endif %}

    </div>
</div>
