<div id='facebook-events'>
<h2 class='event-heading'>{{sectionTitleRaw}}</h2>
	{% for event in events|slice(0, count)  %}
	  <div class='facebook-event margin-bottom-small card-gray small-12' data-timestart='{{ event.original_start }}' data-timeend='{{ event.original_end}}'>
	    
    	{% if showCover %}
	      {% if event.cover != '' %}
	        <div class='event-cover circle' style='background-image: url({{ event.cover.source }});'/>
	        	
	        </div>
	      {% endif %}
	    {% endif %}
	    
	    <div class='event-details'>
	    	<h4 class='event-title'>
	    		<a href='https://www.facebook.com/events/{{ event.event_link }}'>{{ event.name }}</a>
	    	</h4>
	   		<div class='event-time'>
	      		<span class='event-month'>{{ event.start_time.monthName }}</span> <span class='event-day'>{{ event.start_time.day }}</span> <span class='event-period '>{{ event.period }}</span>
	    	</div>
	    	<div class='event-location'>
	        	{{ event.place.name }}
	        </div>
	        <div class="more">
	        	<a href='https://www.facebook.com/events/{{ event.event_link }}'>Find out more ›</a>
	        </div>
	    </div>
	  </div>
	{% endfor %}
</div>