{% extends 'partials/base.html.twig' %}

{% block content %}
<div class="homepage-2017">
	<div class="row padding-top">
    	<div class="medium-6 columns">
    		<div class="row margin-bottom-small">
	    		<div class="small-4 columns">
	    			<img src="{{ url('theme://images/icons/dsa-logo.svg') }}" alt="" width="154" height="154" class="dsa-national-logomark" style="float: left;">
	    		</div>
				<div class="small-8 columns">
					<h1 class="dsa-national-logotype">DSA</h1>
					<h2 class="dsa-local-brand">{{ config.site.title }}</h2>
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns">
					<a href="{{config.themes.dsa_grav.DSAsocial.twitter }}" class="button circle hollow"><i class="fa fa-twitter"> </i></a>
					<a href="{{config.themes.dsa_grav.DSAsocial.facebook }}" class="button circle hollow"><i class="fa fa-facebook"> </i></a>
				</div>
			</div>
    	</div>
    	<div class="medium-6 columns">
    		{{ page.content }}
    	</div>
    </div>
    <div class="row">
    	<div class="medium-6 columns">
		    <h2>Recent Posts</h2>
		    	{% if page.header.bloginfo.folder is not sameas(false) %}
		        	{% set blogfolder = page.header.bloginfo.folder %}
		        {% else %}
		        	{% set blogfolder = "blog" %}
				{% endif %}
				
			    {% for p in page.find('/dispatches').children.order('date', 'desc').slice(0, 3) %}
			        {% set bannerimage = p.media['banner.jpg'] %}
			        {% set header_image = page.header.header_image|defined(true) %}
	   				{% set header_image_width  = page.header.header_image_width|defined(900) %}
	   				{% set header_image_height = page.header.header_image_height|defined(300) %}
	   				{% set header_image_media = page.media.images|first %}
	    			{% set header_image_file = blog_image.url %}

			        <div class="recent-post row card-gray">
			            {% if header_image %}
			                <a href="{{p.url}}" class="recent-post-image circle" style='background-image: url("{{ p.media.images|first.url(true) }}");'><!-- header_image_file.cropZoom(60,60).quality(60) --></a>
			            {% else %}
			                <div class="recent-post-image circle" style='background-image: url({{ url('theme://images/blog-default.png') }})'></div>
			            {% endif %}
			            <div class="recent-post-text">
			                <h4 class="blog-item-title"><a href="{{p.url}}">{{ p.title }}</a></h4>
			                <p>By {% if p.header.attribution.author is not sameas(true) %}{{ p.header.attribution.author }}{% else %}{{ config.site.title }}{% endif %} / {{ p.date|date("M j, Y")}}</p>
			            </div>
			        </div>
			    {% endfor %}
			    <a href="/dispatches/" class="button">View All Posts</a>
    	</div>
    	<div class="medium-6 columns">
    		{% if config.plugins.dsa_facebook.enabled %}
    			{{ facebook_events() }}
    		{% endif %}

    		<a href="{{config.themes.dsa_grav.DSAsocial.facebook }}/events/" class="button">View All Events</a>

    	</div>
    </div>
</div>
{% endblock %}