{% extends 'partials/base.html.twig' %}

{% set collection = page.collection() %}

{% block content %}
<div class="sdsa-homepage">    
     <div class="sdsa-2017-frontispiece">

		  <article class="essay">
		    <div class="bound">
		    	{% if page.header.alertbox.message is not sameas(false) %}
		        	<div class="dsa-space">&nbsp;</div>
		        	<div class="show-for-medium-only dsa-space">&nbsp;</div>
		        	<div class="show-for-small-only dsa-space">&nbsp;</div>
		        	<div id="dsa-alert" class="dsa-alert text-center callout large-collapse medium-collapse row" data-closable="">
						<img src="https://seattledsa.org/wp-content/themes/SeaDemSoc/assets/images/announcement-icon.svg" class="dsa-alert-icon float-left">
						<button id="dsa-hide" class="dsa-close float-right" aria-label="Dismiss alert" type="button" data-close="">
		   					<span aria-hidden="true"><img src="https://seattledsa.org/wp-content/themes/SeaDemSoc/assets/images/x.svg"></span>
		  				</button>
		        		<p><strong>Breaking News</strong>&nbsp;-&nbsp;{{ page.header.alertbox.message }}</p>
		        	</div>
				{% endif %}
		      <div class="inner">
		        <div class="plate">
		          {{ page.content }}
		        </div>
		      </div>
		    </div>
		  </article><!-- end article -->


		  <div class="diptych">
		    <div class="bound">
		    <div class="cards">
		        <div class="card beliefs-cycle">
		        	<div class="inner">
			            <div class="contents">
			              <h1>What we believe</h1>
			              
			              <div class="beliefs-carousel">
			                <button class="control prev" aria-hidden="true"></button>
			                <button class="control next" aria-hidden="true"></button>
			                <ol class="beliefs">
			                  <li class="active">Everyone should be able to live a full and dignified life.</li>
			                  <li>The economy must be run democratically; none shall be poor so another can be rich.</li>
			                  <li>The abolition of poverty.</li>
			                  <li>Affordable, humane housing for all.</li>
			                  <li>Universal Medicare-for-all.</li>
			                  <li>Free education: from pre-K to trades, college and beyond.</li>
			                  <li>Democracy in the workplace; all workers have the right to organize.</li>
			                  <li>Complete reproductive freedom in all forms.</li>
			                  <li>An end to racial, gender and all other forms of oppression.</li>
			                  <li>An end to punitive justice and mass incarceration.</li>
			                  <li>An end to military and police aggression.</li>
			                  <li>Democratic control over the environment to preserve the planet.</li>
			                </ol>
			              </div>

			              <div class="action">
			                <a href="https://seattledsa.org/platform/" class="dark small">Read full platform</a>
			              </div>
			            </div>

		          </div>
		        </div><!-- end beliefs carousel -->

		        <div class="card newsletter-signup">
		          <div class="inner">
		            <div class="pairing">
		              <figure>
		                <img src="{{ url('theme://images/icons/handshake.svg') }}" alt="" />
		              </figure>
		              <div class="form">
		                <div class="fields">
		                  <h1>Get our newsletter</h1>
							<p><!-- Begin MailChimp Signup Form --></p>
							<div id="mc_embed_signup">
								<form action="//seattledsa.us14.list-manage.com/subscribe/post?u=cd6bcdb4ac9c0f9113399a703&amp;id=d7f7a4e89c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="novalidate">
									<div id="mc_embed_signup_scroll">
										<div class="mc-field-group row">
											<input type="text" value="" name="FNAME" class="large-6 medium-12 small-12 columns" id="mce-FNAME" placeholder="First Name"> <input type="text" value="" name="LNAME" class="large-6 medium-12 small-12 columns" id="mce-LNAME" placeholder="Last Name">
										</div>
									<div class="mc-field-group row">
										<input type="email" value="" name="EMAIL" class="required email expand mce_inline_error" id="mce-EMAIL" placeholder="Your Email" aria-required="true" aria-invalid="true">
										<div for="mce-EMAIL" class="mce_inline_error">This field is required.</div>
									</div>
									<div id="mce-responses" class="clear">
										<div class="response" id="mce-error-response" style="display:none"></div>
										<div class="response" id="mce-success-response" style="display:none"></div>
									</div>
									<p><!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups--></p>
									<div style="position: absolute; left: -5000px;" aria-hidden="true">
										<input type="text" name="b_cd6bcdb4ac9c0f9113399a703_d7f7a4e89c" tabindex="-1" value="">
									</div>
									<div class="clear">
										<input type="submit" value="SIGN ME UP!" name="subscribe" id="mc-embedded-subscribe" class="button dark"></div>
									</div>
								</form>
							</div>
							<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[3]='MMERGE3';ftypes[3]='text';fnames[4]='MMERGE4';ftypes[4]='text';fnames[5]='MMERGE5';ftypes[5]='text';fnames[6]='MMERGE6';ftypes[6]='text';fnames[7]='MMERGE7';ftypes[7]='text';fnames[8]='MMERGE8';ftypes[8]='text';fnames[9]='MMERGE9';ftypes[9]='text';fnames[10]='MMERGE10';ftypes[10]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script><!--End mc_embed_signup-->
							
		                </div>
		              </div>
		            </div>
		          </div>
		        </div><!-- newsletter signup -->

		      </div><!-- end cards -->
		    </div><!-- end bound -->
		  </div><!-- end diptych -->
		</div><!-- end sdsa-2017-frontispiece -->

		<script async>$(document).ready(function($) {
		  if($(".beliefs-carousel").length) {

		    var curActive = $(".beliefs-carousel .active");
		    var totalBeliefs = $(".beliefs-carousel li").length;
		    var curIndex = 1;
		    

		    //console.log("curIndex is: " + curIndex);

		    function beliefAdvance() {
		      curActive = curActive.next();
		      if(curIndex == totalBeliefs) {
		        curActive = $(".beliefs-carousel li:eq(0)")
		        $(curActive).addClass("active");
		        curIndex = 1;
		      } else {
		        curIndex = curActive.index() + 1;
		        $(curActive).addClass("active");
		      }
		    }
		    
		    function beliefRewind() {
		      curActive = curActive.prev();
		      if(curIndex == 1) {
		        curActive = $(".beliefs-carousel li:eq(11)")
		        $(curActive).addClass("active");
		        curIndex = totalBeliefs;
		      } else {
		        curIndex = curIndex - 1;
		        $(curActive).addClass("active");
		      }
		    }
		    
		    $(".control").click(function(){
		      $(".beliefs-carousel li").removeClass("active");
		      if($(this).hasClass("next")) {
		        beliefAdvance();
		        //console.log("curIndex is: " + curIndex);
		      } else {
		        beliefRewind();
		        //console.log("curIndex is: " + curIndex);
		      }
		    });
		  }
		}); // end doc ready
		</script>
    <div class="homepage-events">
    	<div class="row padding-top padding-bottom">
	    	<div class="medium-12 columns">
	    		<div class="row text-center">
	    			<img src="{{ url('theme://images/icons/calendar.svg') }}"  class="icon-calendar text-center" alt="" />
	    		</div>
	    		{% if config.plugins.facebook.enabled %}
	    			{{ facebook_events() }}
	    		{% endif %}
	    	</div>
	    	<div class="row text-center">
	    		<a href="{{config.themes.dsa_grav.DSAsocial.facebook }}/events/" class="button">View All Events</a>
	    	</div>
	    </div>
    </div>
    <div class="homepage-blog">
        <div class="row padding-top padding-bottom">
        	<div class="medium-12 columns">
        		<h2 class="text-center blog-heading">Dispatches<small>From the SDSA Blog</small></h2>
            </div>
            <div class="row">
                {% for p in page.find('/dispatches').children.order('date', 'desc').slice(0, 5) %}
                    {% set bannerimage = p.media['banner.jpg'] %}
                    {% set header_image = page.header.header_image|defined(true) %}
                    {% set header_image_width  = page.header.header_image_width|defined(900) %}
                    {% set header_image_height = page.header.header_image_height|defined(300) %}
                    {% set header_image_file = page.header.header_image_file %}

                    <div class="large-6 medium-6 small-12 columns">
                    	<div class="large-12 medium-12 small-12 columns card-gray bdr-stripe-black recent-post">
	                        <h4 class="homepage-blog-item-title"><a href="{{p.url}}">{{ p.title }}</a></h4>
	                        <p>By {% if p.header.attribution.author is not sameas(false) %}{{ p.header.attribution.author }}{% else %}{{ config.site.title }}{% endif %} / {{ p.date|date("M j, Y")}}</p>
                    	</div>
                   	</div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}