{% extends 'partials/base.html.twig' %}

{% set collection = page.collection() %}

{% block content %}
<div class="sdsa-homepage">    
     <div class="sdsa-2017-frontispiece">

		  <article class="essay">
		    <div class="bound">
		    	{% if page.header.alertbox.display is not sameas(false) %}
		        	<div class="dsa-space">&nbsp;</div>
		        	<div class="show-for-medium-only dsa-space">&nbsp;</div>
		        	<div class="show-for-small-only dsa-space">&nbsp;</div>
		        	<div id="dsa-alert" class="dsa-alert text-center callout large-collapse medium-collapse row" data-closable="">
						<img src="https://seattledsa.org/wp-content/themes/SeaDemSoc/assets/images/announcement-icon.svg" class="dsa-alert-icon float-left">
						<button id="dsa-hide" class="dsa-close float-right" aria-label="Dismiss alert" type="button" data-close="">
		   					<span aria-hidden="true"><img src="https://seattledsa.org/wp-content/themes/SeaDemSoc/assets/images/x.svg"></span>
		  				</button>
		        		<p><strong>Breaking News</strong>&nbsp;-&nbsp;{{ page.header.alertbox.message }}</p>
		        	</div>
				{% endif %}
		      <div class="inner">
		        <div class="plate">
		          {{ page.content }}
		        </div>
		      </div>
		    </div>
		  </article><!-- end article -->


		  <div class="diptych">
		    <div class="bound">
		    <div class="cards">
		        <div class="card beliefs-cycle">
		        	<div class="inner">
			            <div class="contents">
			              <h1>What we believe</h1>
			              
			              <div class="orbit" role="region" aria-label="Beliefs" data-orbit>
			                <button class="orbit-previous" aria-hidden="true"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
			                <button class="orbit-next" aria-hidden="true"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
			                <ul class="orbit-container">
			                  <li class="is-active orbit-slide"><div><p class="text-center">Everyone should be able to live a full and dignified life.</p></div></li>
			                  <li class="orbit-slide"><div><p class="text-center">The economy must be run democratically; none shall be poor so another can be rich.</p></div></li>
			                  <li class="orbit-slide"><div><p class="text-center">The abolition of poverty.</p></div></li>
			                  <li class="orbit-slide"><div><p class="text-center">Affordable, humane housing for all.</p></div></li>
			                  <li class="orbit-slide"><div><p class="text-center">Universal Medicare-for-all.</p></div></li>
			                  <li class="orbit-slide"><div><p class="text-center">Free education: from pre-K to trades, college and beyond.</p></div></li>
			                  <li class="orbit-slide"><div><p class="text-center">Democracy in the workplace; all workers have the right to organize.</p></div></li>
			                  <li class="orbit-slide"><div><p class="text-center">Complete reproductive freedom in all forms.</p></div></li>
			                  <li class="orbit-slide"><div><p class="text-center">An end to racial, gender and all other forms of oppression.</p></div></li>
			                  <li class="orbit-slide"><div><p class="text-center">An end to punitive justice and mass incarceration.</p></div></li>
			                  <li class="orbit-slide"><div><p class="text-center">An end to military and police aggression.</p></div></li>
			                  <li class="orbit-slide"><div><p class="text-center">Democratic control over the environment to preserve the planet.</p></div></li>
			                </ul>
			              </div>

			              <div class="action">
			                <a href="https://seattledsa.org/platform/" class="dark small">Read full platform</a>
			              </div>
			            </div>

		          </div>
		        </div><!-- end beliefs carousel -->

		        <div class="card newsletter-signup">
		          <div class="inner">
		            <div class="pairing">
		              <figure>
		                <img src="{{ url('theme://images/icons/handshake.svg') }}" alt="" />
		              </figure>
		              <div class="form">
		                <div class="fields">
		                  <h1>Get our newsletter</h1>
							<!-- Begin MailChimp Signup Form -->
							<div id="mc_embed_signup"><form id="mc-embedded-subscribe-form" class="validate" action="//seattledsa.us14.list-manage.com/subscribe/post?u=cd6bcdb4ac9c0f9113399a703&amp;id=d7f7a4e89c" method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank">
							<div id="mc_embed_signup_scroll">
							<div class="mc-field-group row"><input id="mce-FNAME" class="large-6 medium-12 small-12 columns" name="FNAME" type="text" value="" placeholder="First Name" /> <input id="mce-LNAME" class="large-6 medium-12 small-12 columns" name="LNAME" type="text" value="" placeholder="Last Name" /></div>
							<div class="mc-field-group row"><input id="mce-EMAIL" class="required email expand" name="EMAIL" type="email" value="" placeholder="Your Email" /></div>
							<div id="mce-responses" class="clear"></div>
							<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
							<div style="position: absolute; left: -5000px;"><input tabindex="-1" name="b_cd6bcdb4ac9c0f9113399a703_d7f7a4e89c" type="text" value="" /></div>
							<div class="clear"><input id="mc-embedded-subscribe" class="button dark" name="subscribe" type="submit" value="SIGN ME UP!" /></div>
							</div>
							</form></div>
							<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[3]='MMERGE3';ftypes[3]='text';fnames[4]='MMERGE4';ftypes[4]='text';fnames[5]='MMERGE5';ftypes[5]='text';fnames[6]='MMERGE6';ftypes[6]='text';fnames[7]='MMERGE7';ftypes[7]='text';fnames[8]='MMERGE8';ftypes[8]='text';fnames[9]='MMERGE9';ftypes[9]='text';fnames[10]='MMERGE10';ftypes[10]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script><!--End mc_embed_signup-->
		                </div>
		              </div>
		            </div>
		          </div>
		        </div><!-- newsletter signup -->

		      </div><!-- end cards -->
		    </div><!-- end bound -->
		  </div><!-- end diptych -->
		</div><!-- end sdsa-2017-frontispiece -->

		<div class="homepage-events">
    	<div class="row padding-top padding-bottom">
	    	<div class="medium-10 medium-centered large-centered columns">
	    		<div class="row text-center">
	    			<img src="{{ url('theme://images/icons/calendar.svg') }}"  class="icon-calendar text-center" alt="" />
	    		</div>
	    		{% if config.plugins.dsa_facebook.enabled %}
	    			{{ facebook_events() }}
	    		{% endif %}
	    	</div>
	    	<div class="row text-center">
	    		<a href="{{config.themes.dsa_grav.DSAsocial.facebook }}/events/" class="button">View All Events</a>
	    	</div>
	    </div>
    </div>
    <div class="homepage-blog">
        <div class="row padding-top padding-bottom">
        	<div class="medium-12 columns">
        		<h2 class="text-center blog-heading">Dispatches<small>From the SDSA Blog</small></h2>
            </div>
            <div class="row">
                {% for p in page.find('/dispatches').children.order('date', 'desc').slice(0, 2) %}
                    {% set bannerimage = p.media['banner.jpg'] %}
                    {% set header_image = page.header.header_image|defined(true) %}
                    {% set header_image_width  = page.header.header_image_width|defined(900) %}
                    {% set header_image_height = page.header.header_image_height|defined(300) %}
                    {% set header_image_file = page.header.header_image_file %}

                    <div class="large-6 medium-6 small-12 columns">
                    	<div class="large-12 medium-12 small-12 columns card-gray bdr-stripe-black recent-post">
	                        <h4 class="blog-item-title"><a href="{{p.url}}">{{ p.title }}</a></h4>
	                        <p>By {% if p.header.attribution.author is not sameas(false) %}{{ p.header.attribution.author }}{% else %}{{ config.site.title }}{% endif %} / {{ p.date|date("M j, Y")}}</p>
                    	</div>
                   	</div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}